body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 3%;
  color: #FEF2BF;
}

#buttonText {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 15%;
  color: #e7e7e7;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.playBtn {
  margin: 25px;
  display: inline-block;
  height: 100px;
  width: 200px;
  border: 10px solid black;
  border-radius: 12%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  box-shadow: 10px -10px 10px  rgb(73, 73, 73);
}

.red-pressed {
  background-color: rgb(255, 131, 179);
  box-shadow: 0 0 20px rgb(255, 103, 103);
}

.green {
  background-color: green;
  box-shadow: -10px -10px 10px  rgb(73, 73, 73);
}

.green-pressed {
  background-color: rgb(81, 250, 81);
  box-shadow: 0 0 20px rgb(72, 255, 66);
}

.blue {
  background-color: blue;
  box-shadow: 10px 10px 10px  rgb(73, 73, 73);
}

.blue-pressed {
  background-color: rgb(57, 176, 255);
  box-shadow: 0 0 20px rgb(90, 230, 255);
}

.yellow {
  background-color: yellow;
  box-shadow: -10px 10px 10px  rgb(73, 73, 73);
}

.yellow-pressed {
  background-color: rgb(253, 255, 116);
  box-shadow: 0 0 20px rgb(255, 254, 178);
}

.play {
  background-color: rgb(175, 162, 162);
}

.play-pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}